<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Meal Train</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">How It Works <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Get Started</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <button type="link" class="btn btn-success" name="button">Log In</button>
    </ul>
  </div>
</nav>

    <div id="mt-header">
        <div id="mt-header-body" class="container-fluid clearfix">
            <div id="header-logo"><a href="/"><img src="/content/img/mealtrain_logo.png" alt="Meal Train - Meal Calendar for New Parents, Surgery, Illness, and More" title="meal Train - Meal Calendar for New Parents, Surgery, Illness, and More" /></a></div>
            <div id="header-menu">
                <div id="header-menu-panel">
                    <div class="visible-xs-inline">
                        <a id="btn-menu" class="btn btn-default pull-right dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fa fa-bars"></i><span class="hidden-tiny">&nbsp;Menu</span></a>
                        <ul id="menu-dropdown" class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="/learn/">Learn the basics</a></li>
                            <li><a href="/start/">Get started</a></li>
                            <li><a href="/help/">Help</a></li>
                            <li class="divider"></li>
                                <li><a href="/dashboard/">My Dashboard</a></li>
                                <li><a href="/users/me/">My Account</a></li>
                                <li class="divider"></li>
                                <li><a href="/users/sign_out/">Sign Out</a></li>
                        </ul>
                    </div>
                    <ul id="menu-list" class="nav nav-pills hidden-xs pull-right">
                        <li><a href="/learn/">Learn the basics</a></li>
                        <li><a href="/start/">Get started</a></li>
                        <li><a href="/help/">Help</a></li>
                            <li class="active dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Jared&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="/dashboard/">My Dashboard</a></li>
                                    <li><a href="/users/me/">My Account</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/users/sign_out/">Sign Out</a></li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="mt-body">




<div class="container-fluid">
    <h1>Get started</h1>
    <div class="pg-row">
        <div class="pg-col pg-col1" style="background: #ffffff url(/content/img/app/mostpopular.png) no-repeat top right; ">
            <div class="panel-body">
                <h3 class="h-tight">Meal Train</h3>
                <p class="pg-description">The perfect way to organize meal giving, for free!</p>
                <div class="text-center pg-token"><div class="inner"></div></div>
                <div class="text-center">
                    <h2>Price: Free</h2>
                    <a class="btn btn-block btn-success" href="/trains/create/">Start a Meal Train&nbsp;&nbsp;<i class="fa fa-caret-right"></i></a>
                    <a class="btn btn-sm btn-default btn-block" href="/learn/">See how it works</a>
                </div>
            </div>
        </div>
        <div class="pg-col pg-col2">
            <div class="panel-body">
                <h3 class="h-tight">Meal Train Plus</h3>
                <p class="pg-description">Multiple meals per day, rides, childcare and more.</p>
                <div class="text-center pg-token"><div class="inner"></div></div>
                <div class="text-center">
                    <h2>Price: $10</h2>
                    <a class="btn btn-block btn-success" href="/trains/create_plus/">Start a Meal Train Plus&nbsp;&nbsp;<i class="fa fa-caret-right"></i></a>
                    <a class="btn btn-sm btn-default btn-block" href="/learn/mealtrain_plus/">See how it works</a>
                </div>
                <div>
                    <small class="text-muted">One time fee, good for the duration of the Meal Train Plus.</small>
                </div>
            </div>
        </div>
        <div class="pg-col pg-col3">
            <div class="panel-body">
                <h3 class="h-tight">Potluck</h3>
                <p class="pg-description">Great for a group event.  One date, many participants.</p>
                <div class="text-center pg-token"><div class="inner"></div></div>
                <div class="text-center">
                    <h2>Price: Free</h2>
                    <a class="btn btn-block btn-success" href="/potlucks/create/">Start a Potluck&nbsp;&nbsp;<i class="fa fa-caret-right"></i></a>
                    <a class="btn btn-sm btn-default btn-block" href="/learn/potluck/">See how it works</a>
                </div>
            </div>
        </div>
    </div>
        <p class="text-center"><strong>Tip: Do you organize events for your group or community?  Learn about the benefits of <a href="/learn/pro/">Meal Train Pro</a></strong></p>
</div>

    </div>
    <footer id="footer">
        <div id="footer-container" class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <h4>PRODUCTS</h4>
                    <ul>
                        <li><a href="/learn/">meal train</a></li>
                        <li><a href="/learn/mealtrain_plus/">meal train plus</a></li>
                        <li><a href="/learn/potluck/">potluck</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>GET STARTED</h4>
                    <ul>
                        <li><a href="/learn/">learn the basics</a></li>
                        <li><a href="/help/faqs/">common questions</a></li>
                        <li><a href="/start/">get started</a></li>
                        <li><a href="/help/">help/support</a></li>
                        <li><a href="/etiquette/">etiquette</a></li>
                        <li><a href="/learn/pro/">pro account</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>COMPANY</h4>
                    <ul>
                        <li><a href="/about/">about us</a></li>
                        <li><a href="/contact/">contact us</a></li>
                        <li><a href="/about/media/">media</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>CONNECT</h4>
                    <a target="_blank" href="https://www.facebook.com/mealtrain"><img src="/Content/img/social/Facebook_Round.png" alt="facebook" title="facebook" /></a>&nbsp;
                    <a target="_blank" href="https://twitter.com/mealtrain"><img src="/Content/img/social/Twitter_Round.png" alt="twitter" title="twitter" /></a>
                    <strong>#mealtrain</strong>
                </div>
            </div>
            <div id="copyright" class="row">
                <div class="col-sm-12 text-center">
                    Meal Train LLC &copy;2019&nbsp;&nbsp;&nbsp;<br /><a href="/privacy_policy/">privacy policy</a>&nbsp;&nbsp;&nbsp;<a href="/terms/">terms of service</a>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" language="javascript" src="/content/js/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="/content/js/3rd/bootstrap.min.js"></script>
            <!-- Pinterest Code -->
        <script type="text/javascript">
            !function (e) { if (!window.pintrk) { window.pintrk = function () { window.pintrk.queue.push(Array.prototype.slice.call(arguments)) }; var n = window.pintrk; n.queue = [], n.version = "3.0"; var t = document.createElement("script"); t.async = !0, t.src = e; var r = document.getElementsByTagName("script")[0]; r.parentNode.insertBefore(t, r) } }("https://s.pinimg.com/ct/core.js");
            pintrk('load', '2614939986931');
            pintrk('page');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2614939986931&noscript=1" />
        </noscript>
        <!-- End Pinterest Code -->
        <!-- Facebook Pixel Code -->
        <script type="text/javascript" language="javascript">
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','//connect.facebook.net/en_US/fbevents.js');
            fbq('init', '577732599043055');
            fbq('track', "PageView");
        </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=577732599043055&ev=PageView&noscript=1" /></noscript>
        <!-- End Facebook Pixel Code -->
