<header class="wrapper">
  <nav class="flex-nav">
    <a id="logo" routerLink=""><img src="https://www.mealtrain.com/content/img/mealtrain_logo.png"></a>
    <a class="nav-link" routerLink="learn-the-basics">Learn the Basics</a>
    <a class="nav-link" routerLink="get-started">Get Started</a>
    <a class="nav-link" routerLink="help">Help</a>
    <a class="nav-link" routerLink="create-event">Create Event</a>
    <a class="nav-link" routerLink="dashboard">Dashboard</a>
  </nav>
</header>
