body {
    font-family: 'Open Sans', Arial, sans-serif;
}

#header-logo {
  position: absolute;
  top: 30px;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
}

ul {
  list-style-type: none;
  overflow: hidden;
  height: 100%;
  margin-top: 10px;
}

.mt-header {
  height: 60px;
  width: 66%;
  margin: auto;
  margin-top: 40px;
}

li {
  color: #337ab7;
  position: relative;
  padding-left: 30px;
  display: inline;
  border-radius: 5px;
  background-color: grey;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}

#float-right {
	float: right;
}

/* li a {
  padding: 14px 16px;
  text-decoration: none;
  color: #337ab7;
  font-weight: bold;
  border-radius: 4px;
} */

li a:hover {
  background-color: #f1f1f1;
  color: #23527c;
}

/* .blue-button {
  background-color: #337ab7;
  color: white;
} */


li:last-child {
  color: red !important;
}
