<div class="container-fluid">
  <div class="mt-header">
    <div id="header-logo">
      <a routerLink=""><img src="https://www.mealtrain.com/content/img/mealtrain_logo.png"></a>
    </div>

    <div id='float-right'>
      <ul>
        <li><a routerLink="learn-the-basics">Learn the Basics</a></li>
        <li><a routerLink="get-started">Get Started</a></li>
        <li><a routerLink="help">Help</a></li>
        <li><a routerLink="create-event">Create Event</a></li>
        <li class="blue-button"><a routerLink="dashboard">Dashboard</a></li>
      </ul>
    </div>
  </div>

</div>
