
    <div id="mt-body">





<div class="container-fluid">
    <div class="pg-header">
        <div class="row">
            <div class="col-sm-9">
                <h4>Meal Train for</h4>
                <h2>Mike Rick</h2>
                <input type="hidden" id="EventId" name="EventId" value="y3w4w1">
            </div>

    <div class="col-sm-3 hidden-xs">
        <a class="btn btn-default btn-block btn-sm" title="Post an update" href="/trains/y3w4w1/updates/new/"><i class="fa fa-comments-o"></i>&nbsp;Post an update</a>
        <a class="btn btn-default btn-block btn-sm" title="Make changes" href="/trains/y3w4w1/edit"><i class="fa fa-pencil"></i>&nbsp;Make changes</a>
    </div>
    <div class="pg-admin-buttons visible-xs-block">
        <div class="pg-buttons-bg"></div>
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default btn-sm btn-block" title="Post an update" href="/trains/y3w4w1/updates/new/"><i class="fa fa-comment-o"></i>&nbsp;Post an update</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-default btn-sm btn-block" title="Make changes" href="/trains/y3w4w1/edit"><i class="fa fa-pencil"></i>&nbsp;Make changes</a>
            </div>
        </div>
    </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-4">
                <div class="btn-photo-container">
                    <div class="btn-admin-box btn-photo-box btn-block">
                        <a id="btn-photo-new" href="#" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add a Photo</a>
                        <br /><p>Meal Trains with a photo<br />have greater participation</p>
                    </div>
                    <div id="pg-train-photo" class="text-center round5" style="display:none;">
                        <img />
                    </div>
                </div>

            <div class="visible-xs-block">

<div class="nav-header-container">
    <ul class="nav nav-justified-sm nav-header" data-toggle="affix">
        <li class="active">
            <a href="/trains/y3w4w1">
                <i class="fa fa-calendar"></i><span class="hidden-xs">&nbsp;</span><span class="visible-xs-inline"><br /></span>Calendar
                <span class="visible-xs-inline"><br />&nbsp;</span>
            </a>
        </li>
        <li class="">
            <a href="/trains/y3w4w1/updates/">
                <i class="fa fa-comment-o"></i><span class="hidden-xs">&nbsp;</span><span class="visible-xs-inline"><br /></span>Updates
                        <span class="hidden-xs">&nbsp;</span><span class="visible-xs-inline"><br /></span><span class="text-mt">New!</span>
            </a>
        </li>
        <!--
            <li>
                <a href="#">
                    <i class="fa fa-gift"></i><span class="hidden-xs">&nbsp;</span><span class="visible-xs-inline"><br /></span>Gift Cards
                    <span class="visible-xs-inline"><br />&nbsp;</span>
                </a>
            </li>
        -->
    </ul>
</div>

            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="visible-xs-block text-center">
                        <div>
                            <a class="btn btn-mt" href="mailto:?subject=Meal%20Train%20for%20Mike%20Rick&body=Hey%2C%20This%20is%20the%20Meal%20Train%20for%20Mike%20Rick%3A%0D%0A%0D%0Ahttps%3A%2F%2Fmealtrain.com%2Fy3w4w1%0D%0A%0D%0AWhat%20is%20a%20meal%20train%3F%0D%0AThere%20are%20times%20in%20our%20lives%20when%20friends%20and%20family%20ask%2C%20%22What%20can%20I%20do%20to%20help%20out%3F%22%20The%20answer%20is%20usually%20to%20help%20them%20with%20a%20meal.%20When%20many%20friends%20give%20a%20meal%2C%20this%20is%20a%20Meal%20Train.%0D%0A%0D%0Amealtrain.com%20is%20a%20free%20meal%20calendar%20tool%20that%20makes%20planning%20meals%20among%20a%20wide%20group%20easy%20and%20less%20stressful.%0D%0A%0D%0APlease%20share%20this%20email%20with%20others."><i class="fa fa-envelope"></i>&nbsp;Invite</a>
                            <a class="btn btn-fb"><i class="fa fa-facebook"></i>&nbsp;Share</a>
                            <a class="btn btn-tw"><i class="fa fa-twitter"></i>&nbsp;Tweet</a>
                        </div>
                        <div><small><a data-toggle="modal" href="#pg-invitehelp-modal"><i class="fa fa-question-circle"></i>&nbsp;Invitation help?</a></small></div>
                    </div>
                    <strong>Organizer</strong><br />
                    <p><a href="/trains/y3w4w1/message/ywg71y/"><i class="fa fa-envelope"></i>&nbsp;Jared Reando</a></p>
                    <strong>Recipient</strong><br />
                    <p><a href="/trains/y3w4w1/message/rvqokrd/"><i class="fa fa-envelope"></i>&nbsp;Mike Rick</a></p>
                    <p class="visible-xs-block"><a class="btn-volunteer-info" href="#">View contact info, address, delivery time, etc.</a></p>
                    <p><a href="#" class="btn-participants">View/Email all participants&nbsp;<span class="badge">2</span></a></p>
                    <div class="hidden-xs">
                        <br />
                        <p><input id="url" name="url" type="text" class="form-control" value="https://mealtrain.com/y3w4w1" onfocus="this.select();" /></p>
                        <a class="btn btn-mt btn-block" href="/trains/y3w4w1/invite/"><i class="fa fa-envelope"></i>&nbsp;Invite</a>
                        <a class="btn btn-fb btn-block"><i class="fa fa-facebook"></i>&nbsp;Share</a>
                        <a class="btn btn-tw btn-block"><i class="fa fa-twitter"></i>&nbsp;Tweet</a>
                        <div><small><a data-toggle="modal" href="#pg-invitehelp-modal"><i class="fa fa-question-circle"></i>&nbsp;Invitation help?</a></small></div>
                    </div>
                </div>
            </div>

                <div class="halfpad-bottom">
                    <div class="btn-admin-box">
                        <p>For those who live too<br />far away or can't cook.</p>
                        <a class="btn btn-primary" href="/trains/y3w4w1/donate/create/"><i class="fa fa-dollar"></i>&nbsp;Activate Donations</a><br />
                        <a class="text-danger" href="/trains/y3w4w1/donate/create/">Learn more</a>
                    </div>
                </div>

<h4><strong>Gift Cards</strong></h4>
<div class="panel panel-default">
    <div class="panel-body">
        <a class="btn btn-secondary btn-block" href="http://grubhub.pxf.io/c/250294/527765/8310?subId1=APP&subId2=1" target="_blank"><span class="visible-sm-inline">Grubhub</span><span class="hidden-sm">Grubhub Gift Card</span></a>
        <div style="padding-bottom:10px;"><a href="http://grubhub.pxf.io/c/250294/527765/8310?subId1=APP&subId2=1" target="_blank"><small class="text-highlight">(Restaurant delivery from Grubhub)</small></a></div>
        <a class="btn btn-secondary btn-block" href="http://amzn.to/2uotqvn" target="_blank"><span class="visible-sm-inline">Restaurants</span><span class="hidden-sm">Restaurant Gift Card</span></a>
        <div style="padding-bottom:10px;"><a href="http://amzn.to/2uotqvn" target="_blank"><small class="text-highlight">(Panera, Chipotle, Chilis, Domino's and more...)</small></a></div>
        <a class="btn btn-secondary btn-block" href="https://blue-apron.evyy.net/c/250294/151480/2880?subId1=APP&subId2=1&u=https%3A%2F%2Fwww.blueapron.com%2Fgifts" target="_blank"><span class="visible-sm-inline">Blue Apron</span><span class="hidden-sm">Blue Apron Gift Card</span></a>
    </div>
</div>
                    <div class="text-right hidden-xs"><a href="/trains/y3w4w1/upgrade/adfree/"><i class="fa fa-ban"></i>&nbsp;Remove Advertisements</a></div>
                <div id="pg-ad-slot1" class="ad-responsive-lgrect">
                    <script type="text/javascript">
                        googletag.cmd.push(function () { googletag.display("pg-ad-slot1"); });
                    </script>
                </div>
        </div>
        <div class="col-sm-9 col-md-8">
                    <div class="text-right hidden-xs"><a href="/trains/y3w4w1/upgrade/adfree/"><i class="fa fa-ban"></i>&nbsp;Remove Advertisements</a></div>
                <div id="pg-ad-slot2" class="ad-responsive-leader">
                    <script type="text/javascript">
                        googletag.cmd.push(function () { googletag.display("pg-ad-slot2"); });
                    </script>
                </div>

                <div id="pg-train-story" class="halfpad-bottom" style="display:none;">
                    <h4><strong>About this Meal Train</strong></h4>
                    <p style="white-space: pre-wrap;"></p>
                </div>
                <div id="pg-train-story-add" class="halfpad-bottom">
                    <div class="btn-admin-box pg-story-edit-box">
                        <p>Let everyone know why you are organizing this Meal Train.</p>
                        <button id="btn-story-add" class="btn btn-primary">
                            <i class="fa fa-pencil"></i>&nbsp;Tell the story
                        </button>
                    </div>
                </div>

            <div class="hidden-xs">

<div class="nav-header-container">
    <ul class="nav nav-justified-sm nav-header" data-toggle="affix">
        <li class="active">
            <a href="/trains/y3w4w1">
                <i class="fa fa-calendar"></i><span class="hidden-xs">&nbsp;</span><span class="visible-xs-inline"><br /></span>Calendar
                <span class="visible-xs-inline"><br />&nbsp;</span>
            </a>
        </li>
        <li class="">
            <a href="/trains/y3w4w1/updates/">
                <i class="fa fa-comment-o"></i><span class="hidden-xs">&nbsp;</span><span class="visible-xs-inline"><br /></span>Updates
                        <span class="hidden-xs">&nbsp;</span><span class="visible-xs-inline"><br /></span><span class="text-mt">New!</span>
            </a>
        </li>
        <!--
            <li>
                <a href="#">
                    <i class="fa fa-gift"></i><span class="hidden-xs">&nbsp;</span><span class="visible-xs-inline"><br /></span>Gift Cards
                    <span class="visible-xs-inline"><br />&nbsp;</span>
                </a>
            </li>
        -->
    </ul>
</div>

            </div>

            <div class="panel panel-default hidden-xs">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Location</strong><br />
                            <a href="/trains/y3w4w1/message/ywg71y/">Email Organizer for Address</a><br/>Portland&nbsp;OR&nbsp;97230
                        </div>
                        <div class="col-sm-4">
                            <strong>Number of People</strong><br />
                                <p>Not specified</p>
                            <strong>Preferred delivery time</strong><br />
                            Not specified
                        </div>
                        <div class="col-sm-4">
                            <strong>Special Instructions</strong><br />
                                Not specified
                        </div>
                    </div>
                </div>
            </div>

            <h4><strong>Calendar</strong></h4>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn pull-right hidden-xs" title="Print" href="/trains/y3w4w1/print/" target="_blank"><i class="fa fa-lg fa-print"></i></a>
                    <div style="">
                        <a class="btn btn-mt-yellow btn-volunteer-info" title="Review All Instructions" href="#"><i class="fa fa-info-circle"></i>&nbsp;Review All Instructions</a>
                    </div>
                    <ul class="tabs-slide hidden-xs">
                        <li><a class="btn-viewmode" data-viewmode="0" title="View as list" href="#pg-calendar-list" role="tab" data-toggle="tab"><i class="fa fa-bars"></i><span class="hidden-xs">&nbsp;List View</span></a></li>
                        <li><a class="btn-viewmode" data-viewmode="1" title="View as calendar" href="#pg-calendar-month" role="tab" data-toggle="tab"><i class="fa fa-calendar"></i><span class="hidden-xs">&nbsp;Calendar View</span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tab-content">
                                <div id="pg-calendar-list" class="tab-pane fade">
                                    <div class="text-center panel-view-past"><a class="btn-view-past btn-sm" href="#">view any past dates&nbsp;<i class="fa fa-caret-down"></i></a></div>
                                    <div id="pg-calendar-past-view"></div>
                                    <div id="pg-calendar-list-view"></div>
                                    <div id="pg-calendar-full" class="halfpad-top" style="display:none;">
                                        <div class="jumbotron">
                                                <strong>There are no available dates to select on this Meal Train</strong><br /><br /><div>Please <a href="/trains/y3w4w1/message/ywg71y/">contact the organizer</a> to request more dates, or send a Gift Card:</div><br /><h4><strong>Gift Cards</strong></h4>
<div class="panel panel-default">
    <div class="panel-body">
        <a class="btn btn-secondary btn-block" href="http://grubhub.pxf.io/c/250294/527765/8310?subId1=APP&subId2=1" target="_blank"><span class="visible-sm-inline">Grubhub</span><span class="hidden-sm">Grubhub Gift Card</span></a>
        <div style="padding-bottom:10px;"><a href="http://grubhub.pxf.io/c/250294/527765/8310?subId1=APP&subId2=1" target="_blank"><small class="text-highlight">(Restaurant delivery from Grubhub)</small></a></div>
        <a class="btn btn-secondary btn-block" href="http://amzn.to/2uotqvn" target="_blank"><span class="visible-sm-inline">Restaurants</span><span class="hidden-sm">Restaurant Gift Card</span></a>
        <div style="padding-bottom:10px;"><a href="http://amzn.to/2uotqvn" target="_blank"><small class="text-highlight">(Panera, Chipotle, Chilis, Domino's and more...)</small></a></div>
        <a class="btn btn-secondary btn-block" href="https://blue-apron.evyy.net/c/250294/151480/2880?subId1=APP&subId2=1&u=https%3A%2F%2Fwww.blueapron.com%2Fgifts" target="_blank"><span class="visible-sm-inline">Blue Apron</span><span class="hidden-sm">Blue Apron Gift Card</span></a>
    </div>
</div>                                        </div>
                                    </div>
                                </div>
                                <div id="pg-calendar-month" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <strong>Key:</strong>&nbsp;<i class="fa fa-square" style="color:#5cb85c;"></i>&nbsp;Available&nbsp;&nbsp;<i class="fa fa-square" style="color:#3a87ad;"></i>&nbsp;Booked
                                            <div id="pg-calendar-month-view"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="pg-modal-container"></div>

<div class="modal fade" id="pg-invitehelp-modal" tabindex="-1" role="dialog" aria-labelledby="pg-ok-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Invitation Options</h4>
            </div>
            <div class="modal-body">
                <h4>Here is the unique link for this Meal Train</h4>
                <p><input id="InviteHelpUrl" name="InviteHelpUrl" type="text" class="form-control" value="https://mealtrain.com/y3w4w1" onfocus="this.select();" /></p>
                <br/>
                <p><strong>Personal Email</strong><br/>Copy and paste the link above into your favorite email program (gmail, yahoo mail, outlook, etc).</p>
                <br/>
                <p><strong>Via mealtrain.com</strong>&nbsp;(PC or Tablet)<br />Click the orange Invite button on the Calendar tab.</p>
                <br />
                <p><strong>Mobile Device</strong><br />Option 1: Click the orange Invite button to access your phone's address book.<br/>Option 2: Click "View all participants" then the "Invite Others" button to invite via mealtrain.com.</p>
                <br />
                <p><strong>Text Message</strong><br />While viewing the Meal Train, click your phone's Share button (usually <i class="fa fa-share-alt"></i> or <i class="fa fa-share-square-o"></i>).</p>
                <br />
                <p><strong>Facebook</strong><br />Click the blue "f Share" button.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

    </div>
    <footer id="footer">
        <div id="footer-container" class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <h4>PRODUCTS</h4>
                    <ul>
                        <li><a href="/learn/">meal train</a></li>
                        <li><a href="/learn/mealtrain_plus/">meal train plus</a></li>
                        <li><a href="/learn/potluck/">potluck</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>GET STARTED</h4>
                    <ul>
                        <li><a href="/learn/">learn the basics</a></li>
                        <li><a href="/help/faqs/">common questions</a></li>
                        <li><a href="/start/">get started</a></li>
                        <li><a href="/help/">help/support</a></li>
                        <li><a href="/etiquette/">etiquette</a></li>
                        <li><a href="/learn/pro/">pro account</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>COMPANY</h4>
                    <ul>
                        <li><a href="/about/">about us</a></li>
                        <li><a href="/contact/">contact us</a></li>
                        <li><a href="/about/media/">media</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>CONNECT</h4>
                    <a target="_blank" href="https://www.facebook.com/mealtrain"><img src="/Content/img/social/Facebook_Round.png" alt="facebook" title="facebook" /></a>&nbsp;
                    <a target="_blank" href="https://twitter.com/mealtrain"><img src="/Content/img/social/Twitter_Round.png" alt="twitter" title="twitter" /></a>
                    <strong>#mealtrain</strong>
                </div>
            </div>
            <div id="copyright" class="row">
                <div class="col-sm-12 text-center">
                    Meal Train LLC &copy;2019&nbsp;&nbsp;&nbsp;<br /><a href="/privacy_policy/">privacy policy</a>&nbsp;&nbsp;&nbsp;<a href="/terms/">terms of service</a>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </footer>
