<div class="row">
  <div class="col-md-8 offset-2">


    <form id="mt-form" class="form-horizontal" autocomplete="off">
      <div class="form-group">
        <label class="col-sm-2">*Name</label>
        <input #newName class="form-control" maxlength="80" placeholder="FirstName LastName">
      </div>

      <div class="form-group">
        <label class="col-sm-2">*Email</label>
        <input #newEmail class="form-control" maxlength="80" placeholder="email@domain.com">
      </div>

      <div class="form-group">
        <label class="col-sm-2">*Address</label>
        <input #newAddress class="form-control" maxlength="80" placeholder="1234 Main Street">
      </div>

      <div class="form-group">
        <label class="col-sm-2">*City</label>
        <input #newCity class="form-control" maxlength="80" placeholder="City">
      </div>

      <div class="form-group">
        <label class="col-sm-2">*State</label>
        <input #newState class="form-control" maxlength="80" placeholder="XX">
      </div>

      <div class="form-group">
        <label class="col-sm-2">*Zip</label>
        <input #newZip class="form-control" maxlength="80" placeholder="99999">
      </div>

      <div class="form-group">
        <label class="col-sm-2">*Phone</label>
        <input #newPhone class="form-control" maxlength="80" placeholder="555-123-4567">
      </div>

      <div class="form-group">
        <label class="col-sm-2">*Dates (separate by commas)</label>
        <input #newDates class="form-control" maxlength="80" placeholder="7-29-2019">
      </div>

      <div class="form-group">
        <label class="col-sm-2">*Number of People</label>
        <input #newGroupSize type="number" class="form-control" maxlength="80" placeholder="2">
      </div>

      <div class="form-group">
        <label class="col-sm-4">*Delivery Time Preference</label>
        <input #newDeliveryTimePreference class="form-control" placeholder="Between 4pm and 7pm">
      </div>

      <div class="form-group">
        <label class="col-sm-4">*Special Instructions</label>
        <textarea #newSpecialInstructions rows="4" class="form-control" placeholder="Leave on front porch if not home."></textarea>
      </div>

      <div class="form-group">
        <label class="col-sm-4">*Favorite Meals</label>
        <textarea #newFavoriteMeals rows="4" class="form-control" placeholder="Spaghetti, sushi, eggs on top of other eggs."></textarea>
      </div>

      <div class="form-group">
        <label class="col-sm-4">*Least Favorite Meals</label>
        <textarea #newLeastFavoriteMeals rows="4" class="form-control" placeholder="Old spaghetti, eggs by themselves."></textarea>
      </div>

      <div class="form-group">
        <label class="col-sm-4">*Food Restrictions</label>
        <textarea #newFoodRestrictions rows="4" class="form-control" placeholder="No shellfish, wheat, dairy, etc.."></textarea>
      </div>

      <button (click)="submitForm(newName.value, newEmail.value, newAddress.value, newCity.value, newState.value, newZip.value, newPhone.value, newDates.value, newGroupSize.value, newDeliveryTimePreference.value, newSpecialInstructions.value, newFavoriteMeals.value, newLeastFavoriteMeals.value, newFoodRestrictions.value)" class="btn btn-lg btn-primary btn-responsive-block">Submit</button>

    </form>

  </div>
</div>
