<footer id="footer">
    <div id="footer-container" class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>PRODUCTS</h4>
                <ul>
                    <li><a href="/learn/">meal train</a></li>
                    <li><a href="/learn/mealtrain_plus/">meal train plus</a></li>
                    <li><a href="/learn/potluck/">potluck</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>GET STARTED</h4>
                <ul>
                    <li><a href="/learn/">learn the basics</a></li>
                    <li><a href="/help/faqs/">common questions</a></li>
                    <li><a href="/start/">get started</a></li>
                    <li><a href="/help/">help/support</a></li>
                    <li><a href="/etiquette/">etiquette</a></li>
                    <li><a href="/learn/pro/">pro account</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>COMPANY</h4>
                <ul>
                    <li><a href="/about/">about us</a></li>
                    <li><a href="/contact/">contact us</a></li>
                    <li><a href="/about/media/">media</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>CONNECT</h4>
                <a target="_blank" href="https://www.facebook.com/mealtrain"><img src="https://www.mealtrain.com/Content/img/social/Facebook_Round.png" alt="facebook" title="facebook" /></a>&nbsp;
                <a target="_blank" href="https://twitter.com/mealtrain"><img src="https://www.mealtrain.com/Content/img/social/Twitter_Round.png" alt="twitter" title="twitter" /></a>
                <strong>#mealtrain</strong>
            </div>
        </div>
        <div id="copyright" class="row">
            <div class="col-sm-12 text-center">
                Meal Train LLC &copy;2019&nbsp;&nbsp;&nbsp;<br /><a href="/privacy_policy/">privacy policy</a>&nbsp;&nbsp;&nbsp;<a href="/terms/">terms of service</a>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
</footer>
