<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <h1>My Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="alert alert-info">Below is a list of all of the events you have created or have been invited to participate in.</div>
          <div *ngFor="let mealTrain of allTrains | async">
            <div class="row pg-entitylist-row">
              <div class="col-sm-2 col-xs-3 text-center">
                <img src="https://www.mealtrain.com/content/img/app/tokens/appointments-sm.png">
              </div>
              <div class="col-sm-5 col-xs-9 pg-col-name">
                <strong>Meal Train for:</strong>
                <a href="/trains/y3w4w1"><h3 class="h-tight">{{mealTrain.name}}</h3></a>
              </div>
              <div class="col-sm-5 col-sm-offset-0 col-xs-offset-3 col-xs-9">
                <button (click)="goToDetailPage(mealTrain)" class="btn btn-primary">Open</button>
                <button (click)="goToEditPage(mealTrain)" class="btn btn-light">Make Changes</button>
              </div>
            </div>
            <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
